<!-- Products-Page -->
<div class="uk-container">
    <div class="uk-grid uk-margin-small-top">
        <div class="uk-width-1-2 uk-margin-small-bottom">
            <div class="uk-card uk-card-default uk-grid-small uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container container">
                    <img src="https://image.flaticon.com/icons/png/128/4844/4844003.png" alt="" uk-cover>
                    <canvas width="300" height="400"></canvas>
                </div>

                <div class="uk-card-body">
                    <h3 class="uk-card-title"> R$ 120,90</h3>
                    <p class="uk-card-title"><b>Alergia</b></p>
                    <p><b>Médico no local: </b></p>
                    <p>Dr. Adalberto Faustino Valdez Sanchez</p>
                    <!-- <sup><b><br>CRM CE-5833</b></sup>
                    <sup><b>Médico no local</b><br>Dra. Vania Garces De Moura<b><br>CRFA CE-10898</b></sup><br> -->


                    <!-- <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-select">Escolha a data</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-horizontal-select">
                                <option>-Selecione-</option>
                                <option>17-Jun</option>
                                <option>18-Jun</option>
                            </select>
                        </div>
                    </div> -->

                    <p><b>Local do atendimento: </b></p>
                    <p>Largão Centro - Fortaleza Rua Doutor João Moreira, 221</p>

                    <button class="uk-button uk-button-default">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
                        Adicionar
                    </button>

                </div>
            </div>
        </div>

        <div class="uk-width-1-2 uk-margin-small-bottom">
            <div class="uk-card uk-card-default uk-grid-small uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFf2xxUCQv8gA6_1c3Mg8KVRjTwWYr5ulkVg&usqp=CAU"
                        alt="" uk-cover>
                    <canvas width="300" height="400"></canvas>                  
                </div>

                <div class="uk-card-body">
                    <h3 class="uk-card-title"> R$ 120,90</h3>
                    <p class="uk-card-title"><b>Alergia</b></p>
                    <p><b>Médico no local: </b></p>
                    <p>Dr. Adalberto Faustino Valdez Sanchez</p>

                    <!-- <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-select">Escolha a data</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-horizontal-select">
                                <option>-Selecione-</option>
                                <option>17-Jun</option>
                                <option>18-Jun</option>
                            </select>
                        </div>
                    </div> -->

                    <p><b>Local do atendimento: </b></p>
                    <p>Largão Centro - Fortaleza Rua Doutor João Moreira, 221</p>

                    <button class="uk-button uk-button-default">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
                        Adicionar
                    </button>

                </div>
            </div>
        </div>

        <div class="uk-width-1-2 uk-margin-small-bottom">
            <div class="uk-card uk-card-default uk-grid-small uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container container">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFf2xxUCQv8gA6_1c3Mg8KVRjTwWYr5ulkVg&usqp=CAU"
                        alt="" uk-cover>
                    <canvas width="300" height="400"></canvas>                  
                </div>

                <div class="uk-card-body">
                    <h3 class="uk-card-title"> R$ 120,90</h3>
                    <p class="uk-card-title"><b>Alergia</b></p>
                    <p><b>Médico no local: </b></p>
                    <p>Dr. Adalberto Faustino Valdez Sanchez</p>

                    <!-- <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-select">Escolha a data</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-horizontal-select">
                                <option>-Selecione-</option>
                                <option>17-Jun</option>
                                <option>18-Jun</option>
                            </select>
                        </div>
                    </div> -->

                    <p><b>Local do atendimento: </b></p>
                    <p>Largão Centro - Fortaleza Rua Doutor João Moreira, 221</p>

                    <button class="uk-button uk-button-default">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
                        Adicionar
                    </button>

                </div>
            </div>
        </div>

    </div>
</div>